<footer class="miFooter text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="tienda">Volver a la tienda</a>
      </p>
      <p class="mb-1">Gracias por visitar nuestro e-Commerce! Esperamos que lo estés disfrutando :) <br><br></p>
      <p class="mb-0">Nuevo por aquí? Arriba están nuestras redes sociales para que nos conozcas mejor! <br> Vuelve al principio de la página con el botón de la derecha y haz click en el desplegable de la izquierda.</p>
    </div>
  </footer>