<div class="row gy-3">
    <div class="col-md-6">
      <label for="cc-name" class="form-label">Nombre del titular de la tarjeta</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" required="">
      <small class="text-body-secondary">Nombre completo como en la tarjeta</small>
      <div class="invalid-feedback">
        Nombre del titular obligatorio
      </div>
    </div>

    <div class="col-md-6">
      <label for="cc-number" class="form-label">Número de la tarjeta</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required="">
      <div class="invalid-feedback">
        Número de tarjeta obligatorio
      </div>
    </div>

    <div class="col-md-3">
      <label for="cc-expiration" class="form-label">Caducidad</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
      <div class="invalid-feedback">
        Fecha de caducidad onligatorio
      </div>
    </div>

    <div class="col-md-3">
      <label for="cc-cvv" class="form-label">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
      <div class="invalid-feedback">
        CVV obligatorio
      </div>
    </div>
  </div>